{{#each posts as |post|}}
<div class="box border border-primary">

  <div class="columns is-mobile is-centered is-vcentered">
    <div class="column">
    </div>

    <div class="column is-flex-direction-row">
      <a href="/post/{{id}}">
      <span class="title">{{post.title}}</span><br>
      <span class="subtitle"><br>{{post.content}}<br></span><br>
      <p class="note">Created on {{format_date createdAt}} by {{user.user_name}}</p>
      </a>
    </div>
  </div>
</div>
{{/each}}

